body{
  background: #e3e3e3;
  padding: 0 15% 0 15%;
}

h1 {
  color: #626262;
  font-family: "p22_corinthia", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

nav ul,
nav li,
nav span,
nav a {
  margin: 0;
  padding: 0;
  position: relative;
}

nav {
  line-height: 1;
  border-radius: 5px 5px 0 0;  
  background: #ffffff;  
  border-bottom: 2px solid #db000b;
  width: auto;
}

nav:after,
nav ul:after {
  content: '';
  display: block;
  clear: both;
}

nav a {
  background: #ffffff;  
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
}

nav ul {
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}

nav.align-center {
  text-align: center;
}

nav.align-center > ul > li {
  float: none;
}

nav.align-center ul ul {
  text-align: left;
}

nav.align-right > ul {
  float: right;
}

nav.align-right ul ul {
  text-align: right;
}

nav > ul > li > a {
  color: #000000;
  font-size: 12px;
}
nav > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #db000b;
  margin-left: -10px;
}
#nav > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}

nav.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;  
}

nav > ul > li.active > a,
nav > ul > li:hover > a {
  color: #000000;
  box-shadow: inset 0 0 3px #d9d9d9;  
  background: #f2f2f2;
  
}

nav .has-sub {
  z-index: 1;
}

nav .has-sub:hover > ul {
  display: block;
}

nav .has-sub ul {
  display: none;
  position: absolute;
  width: 135px;
  top: 100%;
  left: 0;
}

nav.align-right .has-sub ul {
  left: auto;
  right: 0;
}

nav .has-sub ul li {
  *margin-bottom: -1px;
}

nav .has-sub ul li a {
  background: #db000b;
  border-bottom: 1px dotted #ff0f1b;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 5%;
  color: #ffffff;
}

nav .has-sub ul li:hover a {
  background: #a80008;
}
nav .has-sub ul li ul li a:hover {
  background: #7a0a0f;
}

nav ul ul li:hover > a {
  color: #ffffff;
}

nav .has-sub .has-sub:hover > ul {
  display: block;
}

nav .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

img {
  width: 100%;

}

.blog {
  height: 350;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0 50px 0 50px;
    margin: 0;
  }
  h1 {
    letter-spacing: 19px;
  }   
  nav ul li {
    width: 99%;
    float: left;
    position: relative;
    }
    nav .has-sub ul{
    left: 88px;
    top: 0;
    width: 173px;
  }
  nav .has-sub ul li a{
    line-height: 61%;
  }
}
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #db000b;
  text-align: center;
  padding: 10px 0;
  display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

@media   screen and (max-width: 480px)  {
  body {
    padding: 0 15% 0 15%;
  }
  h1{
    font-size: 12;
    letter-spacing: 6px;
  }
 nav ul {
    position: absolute;
    display: none;
    width: 80%;
  }
  nav a{
    background: rgba(243, 114, 114, 0.61)
  }
    nav ul li {
    margin-bottom: 1px;
    width: 88%;
  }  
  .show-menu {
    display:block;
  }
  nav .has-sub ul {
  width: 133px;
  left: 56px;
  }
}

@media  screen and (max-width: 450px) {
  body{
    padding: 0;
  }
  .has-sub ul {
    width: 171px;
    left: 54px;
  }
}